@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 스타일 */
body {
  @apply bg-gray-950 text-white min-h-screen;
  margin: 0;
  padding: 0;
}

/* 커스텀 유틸리티 클래스 */
@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

@media (orientation: portrait) {
  .force-vertical {
    flex-direction: column !important;
  }
}
